.save_btn{
    background-color: #FF9F1C;
    color: white;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

.container-fluid{
    margin-bottom: 100px;
}

h1{
    font-family: 'Bebas Neue';
}

label{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: gray;
}

p{
    font-family: 'Roboto', sans-serif;
}