<main>
<div class="container px-4 py-5 mx-auto">
    <div class="card card0 shadow">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <div class="row justify-content-center px-3 mb-3">
                            <img id="logo" src="assets/logo.png"> </div>
                        <h6 class="msg-info">Please login to your account</h6>
                        <div class="form-group"> <label class="form-control-label text-muted">Phone Number</label> <input type="text"  [(ngModel)]="logCred.phone_no" name="Phone_num" placeholder="Phone number" class="form-control"> </div>
                        <div class="form-group"> <label class="form-control-label text-muted">Password</label> <input type="password" [(ngModel)]="logCred.user_pword" id="psw" name="psw" placeholder="Password" class="form-control"> </div>
                        <div class="row justify-content-center my-3 px-3"> <button (click)="loginPhone()" class="btn-block btn-dark p-2 mt-2">Login</button> </div>
                        <div class="row justify-content-center my-2"> <a href="#"><small class="text-muted">Forgot Password?</small></a> </div>

                        <p href="" style="text-align: center;">Or login using</p>
                        <div class="row">

                          <div class="col-9 mx-auto">
                            <button class="btn-block btn-color loginBtn loginBtn--facebook" style="font-size: small;">
                              Login with Facebook
                            </button>

                          </div>
                          <div class="col-9 mx-auto">
                            <button class="btn-block btn-color loginBtn loginBtn--google" (click)="signinGoogle()" style="font-size: small;">
                              Login with Google
                            </button>
                          </div>
                      </div>


                    </div>
                </div>
                <div class="bottom text-center mb-5">
                    <p class="sm-text mx-auto mb-3">Don't have an account?</p>
                    <button routerLink="/auth/register" class="btn btn-outline-dark btn-white ml-2">Create new</button>
                </div>
            </div>
            <div class="card card2 shadow-lg">
                <div class="my-auto mx-md-5 px-md-5 right">
                    
                </div>
            </div>
        </div>
    </div>
</div>
</main>
