<main>

  <div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
              <a routerLink="/auth/login">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#de0f0f" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
              </a>
              <div class="p-5">
                <h3 class="fw-normal" style="color: black;">General Infomation</h3>


                <div class="row">
                  <div class="col">

                    <div class="form-group">
                      <label class="form-control-label text-muted">First name</label>
                      <input type="text" id="fname" name="fname" placeholder="Last name" class="form-control">
                      </div>

                  </div>
                  <div class="col">
                    <div class="form-group">
                    <label class="form-control-label text-muted">Last name</label>
                    <input type="text" id="lname" name="lname" placeholder="Last name" class="form-control">
                    </div>
                  </div>

                </div>

                <div class="pb-2">
                    <label class="form-control-label text-muted">Phone number</label>
                      <div class="input-group mb-3">
                      <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">+63</span>
                    </div>
                  <input type="text" id="pnum" name="pnum" placeholder="Please enter your phone number" class="form-control" aria-describedby="basic-addon3">
                </div>
                </div>

                <div class="mb-4 pb-2">
                  <label class="form-control-label text-muted">Birthdate</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="Please enter your Birth date (yyyy-mm-dd)"
                           name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="form-check d-flex justify-content-start">
                  <input
                    class="form-check-input me-3"
                    type="checkbox"
                    value=""
                    id="form2Example3c"/>
                  <label class="form-check-label" for="form2Example3">
                    I do accept the <a href="#!"><u>Terms and Conditions</u></a> of your site.
                  </label>
                </div>
                <div class="row justify-content-center my-3 px-3">
                  <button routerLink="/public/landingpage" class="btn-block btn-color">Sign up</button>
                </div>

                <p href="" style="text-align: center;">Or login using</p>
                <div class="row">

                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <button class="btn-block btn-color loginBtn loginBtn--facebook" style="font-size: small;">
                      Login with Facebook
                    </button>

                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                    <button class="btn-block btn-color loginBtn loginBtn--google" (click)="signinGoogle()" style="font-size: small;">
                      Login with Google
                    </button>
                  </div>
              </div>


              </div>
            </div>
            <!--Card 1 Ends here-->

            <!--Card 2 starts here-->
            <div class="card card2 shadow-lg">
              <div class="my-auto mx-md-5 px-md-5 right">
                  <h3 class="text-white">We are more than just a company</h3> <small class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</small>
              </div>
          </div>
        </div>
    </div>
</div>
</main>
