
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<main>
<app-admin-nav></app-admin-nav>

<div class="container my-5">
  <h3>Users</h3>

  <!--Users table starts here-->
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Last Name</th>
      <th scope="col">First Name</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let users of gusers ">

      <td>{{ users.user_id }}</td>
      <td>
        <img src={{users.usersuct_img}} class="mr-2" style="width: 20px">

      </td>
      <td>{{users.fname}} {{ users.lname}}</td>
      <td>{{ users.phone_no }}</td>
      <td>{{ users.email }}</td>
      <td>
        <button type="button" class="btn btn-outline-dark" (click)="open(user)">View</button>
      </td>

      <!--Modal for adding products-->
      <ng-template #user let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">User Information</h4>

          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--Adding of products starts here-->
                <div class="form-group">

                  <h5 class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{users.fname}}</h5>
                  <p class="card-text" >#{{users.house_no}} {{users.street}}, {{users.barangay}}, {{users.cityMunicipality}}, {{users.province}}</p>
                  <p class="card-text" >{{users.email}} </p>
                  <p class="card-text" >{{users.phone_no}} </p>




              </div>

          <!--adding of product ends here-->
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-outline-dark" (click)="addWish(hl)" (click)="d('Cross click')"><i class="bi bi-plus-circle"></i> Add to wishlist</button>
          <button  type="button" class="btn btn-warning" (click)="addToCart(hl)"><i class="bi bi-cart" (click)="d('Cross click')"></i> {{addCartBtn}}</button> -->
        </div>
      </ng-template>
      <!--Modal for adding products ends here-->

    </tr>
    </tbody>
  </table>
  <ngb-pagination [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="gusers.length" aria-label="Default pagination"></ngb-pagination>
  <!--Transaction table ends here-->





</div><!--End of Container-->
