.item_list{
    border: none;
}

h1{
    font-family: 'Bebas Neue';

}

h4{
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}

.total_amt{
    font-size: 13pt;
}

.order_info{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.column_headers{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: gray;
}

a{
    font-size: 9pt;
}

.desc{
    font-family: 'Roboto', sans-serif;
    font-size: 9pt;
    color: 	#969696;
}

.opt_btn{
    background-color: #FF9F1C;
    font-size: large;
    color: white;
    padding: 3px;
}

.container-fluid{
    margin-bottom: 100px;
}