<main>
    <app-navbar></app-navbar>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-11 mx-auto">
                <!-- <div class="mt-10">
                    <h4 class="p-5 font-weight-bold">
                        My Profile
                    </h4>
                </div> -->
                <div class="row mt-5 gx-3">
                    <!----left side div-->
                    <app-sidemenu></app-sidemenu>
    
                    <!-- right side div -->
                    <div class="col-md-12 col-lg-10 col-11 mx-auto mt-lg-0 mt-md-5">
                        <div class="right_side p-4 shadow bg-white">
                            <h5 class="my_profile">Address and Contact Information</h5>
                            <p>Edit your address and contact information</p>
                            <hr>
                            <div class="mt-5 credentials">
                              <form>
                                <div class="form-group row justify-content-center">
                                  <div class="col-2 first_line">
                                    <label for="houseno">House No.</label>
                                    <input type="text" class="form-control" id="houseno">
                                  </div>
                                  <div class="col-4 first_line">
                                    <label for="street">Street Name</label>
                                    <input type="text" class="form-control" id="street">
                                  </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                  <div class="col-6 first_line">
                                    <label for="city_municipality">City/Municipality</label>
                                    <input type="text" class="form-control" id="city_municipality">
                                  </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                  <div class="col-6 first_line">
                                    <label for="province">Province</label>
                                    <input type="text" class="form-control" id="province">
                                  </div>
                                </div>
                                <div class="row justify-content-center">
                                  <button type="button" class="col-6 btn btn-sm btn-block p-2 mt-3 save_btn" style="color: white;">Save</button>
                              </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    