<div class="content">
    <div class="container">
       
            <div class="row justify-content-center">
                <div class="col-md-6 contents">
                    <div class="card card1 p-4 shadow">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block">
                                <div class="row justify-content-center px-3 mb-3"> 
                                    <img id="logo" src="assets/logo.png" style="height: auto; width: 270px;"> </div>
                                <div class="mb-4">
                                    <h3 style="text-align: center;"><strong>Administrator Login</strong></h3>
                                </div>

                                <form action="#" method="post">
                                    <div class="form-group first">
                                        <label class="form-control-label text-muted">Username</label>
                                        <input type="text" class="form-control" id="username">
                                    </div>

                                    <div class="form-group last mb-4">
                                        <label class="form-control-label text-muted">Password</label>
                                        <input type="password" class="form-control" id="password">
                                    </div>

                                    <div class="d-flex mb-4">
                                        <span><a href="#" class="forgot-pass">Forgot Password</a></span>
                                    </div>

                                    <input type="submit" routerLink="/admin/addproduct" value="Log In" class="btn btn-pill text-white btn-block btn-primary">

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--End of card-->
    </div><!--End of container-->
</div>
