<main>
    <app-navbar></app-navbar>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-11 mx-auto">
                <!-- <div class="mt-10">
                    <h4 class="p-5 font-weight-bold">
                        My Profile
                    </h4>
                </div> -->
                <div class="row mt-5 gx-3">
                    <!----left side div-->
                    <app-sidemenu></app-sidemenu>
    
                    <!-- right side div -->
                    <div class="col-md-12 col-lg-10 col-11 mx-auto mt-lg-0 mt-md-5">
                        <div class="right_side p-4 shadow bg-white">
                            <h5 class="my_profile">My Profile</h5>
                            <p>Protect and manage your account</p>
                            <hr>
                            <div class="mt-5 ml-5 credentials">
                                <form>
                                    <div class="form-group row">
                                      <label for="username" class="col-sm-2 col-form-label">Username</label>
                                      <div class="col-sm-6">
                                        <input type="text" class="form-control" id="username">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label for="fullname" class="col-sm-2 col-form-label">Fullname</label>
                                      <div class="col-sm-2">
                                        <input type="text" class="form-control" id="username" placeholder="First Name">
                                      </div>
                                      <div class="col-sm-2">
                                        <input type="text" class="form-control" id="username" placeholder="Middle Name">
                                      </div>
                                      <div class="col-sm-2">
                                        <input type="text" class="form-control" id="username" placeholder="Last Name">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-6">
                                          <input type="email" class="form-control" id="email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="pnumber" class="col-sm-2 col-form-label">Phone Number</label>
                                        <div class="col-sm-6">
                                          <input type="tel" class="form-control" id="pnumber">
                                        </div>
                                    </div>
                                  </form>
                            </div>
                            
                            <div class="checkoutbtn_div">
                                <button type="button" class="btn btn-sm btn-block p-2 mt-5 checkout_btn">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    