.form-group label{
    text-align: right;
}

.save_btn{
    background-color: #FF9F1C;
    color: white;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

.nav_head{
    color: #011627;
}

.nav_head:hover{
    text-decoration: none;
}

ul li a{
    color: #7e7d7d;
}

.container-fluid{
    margin-bottom: 100px;
}

h1{
    font-family: 'Bebas Neue';
}

label{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: gray;
}

p{
    font-family: 'Roboto', sans-serif;
}