.form-group label{
    text-align: right;
}

.save_btn{
    background-color: #FF9F1C;
    color: white;
    font-size: large;
}

.nav_head{
    color: #011627;
}

.nav_head:hover{
    text-decoration: none;
}

ul li a{
    color: #7e7d7d;
}