<main>
    <app-navbar></app-navbar>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-11 mx-auto">
                <!-- <div class="mt-10">
                    <h4 class="p-5 font-weight-bold">
                        My Profile
                    </h4>
                </div> -->
                <div class="row mt-5 gx-3">
                    <!----left side div-->
                    <app-sidemenu></app-sidemenu>

                    <!-- right side div -->
                    <div class="col-md-12 col-lg-10 col-11 mx-auto mt-lg-0 mt-md-5">
                        <div class="right_side p-4 shadow bg-white">
                            <h5 class="my_profile">My Profile</h5>
                            <p>Protect and manage your account</p>
                            <hr>
                            <div class="mt-5 credentials">
                                <div class="form-group row justify-content-center">
                                  <div class="col-6 first_line">
                                    <label for="username">Username</label>
                                    <input [(ngModel)]="user.user_uname"  type="text" class="form-control" id="username" value={{user.user_uname}}>
                                  </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                  <div class="col-2 first_line">
                                    <label for="fullname" class="col-form-label">First Name</label>
                                    <input [(ngModel)]="user.fname" type="text" class="form-control" id="username" value={{user.fname}}>
                                  </div>
                                  <div class="col-2 first_line">
                                    <label for="fullname" class="col-form-label">Middle Name</label>
                                    <input [(ngModel)]="user.mname" type="text" class="form-control" id="username" value={{user.mname}}>
                                  </div>
                                  <div class="col-2 first_line">
                                    <label for="fullname" class="col-form-label">Last Name</label>
                                    <input [(ngModel)]="user.lname" type="text" class="form-control" id="username" value={{user.lname}}>
                                  </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                  <div class="col-6 first_line">
                                    <label for="email" class="col-form-label">Email</label>
                                    <input [(ngModel)]="user.email" type="email" class="form-control" id="email" value={{user.email}}>
                                  </div>
                                </div>
                                <div class="form-group row justify-content-center">
                                  <div class="col-6 first_line">
                                    <label for="pnumber" class="col-form-label">Phone Number</label>
                                    <input [(ngModel)]="user.phone_no" type="text" class="form-control" id="pnumber" value={{user.phone_no}}>
                                  </div>
                                </div>
                                <div class="row justify-content-center checkoutbtn_div">
                                  <button type="button" class="col-6 btn btn-sm btn-block p-2 mt-3 save_btn" (click)="saveCred()">Save</button>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
