<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<main>
    <app-navbar></app-navbar>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-11 mx-auto">
                <div class="row mt-5 gx-3">
                    <!----left side div-->
                    <div class="col-md-12 col-lg-2 col-sm-5 mx-auto left_div mb-lg-0 mb-5">

                      <!-- sidefilter -->

                      <div class="row">
                        <p>Sort products Categories</p>
                        <hr>
                        <div class="btn-group mr-3 pb-4 w-75">
                            <button type="button" class="btn btn-outline-dark"> {{category}} </button>
                            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                              <button class="btn btn-dark dropdown-toggle-split" ngbDropdownToggle></button>
                              <div class="dropdown-menu" ngbDropdownMenu>
                                <button ngbDropdownItem (click)="sortCateg('all')">All</button>
                                <button ngbDropdownItem (click)="sortCateg('helmet')">Helmets</button>
                                <button ngbDropdownItem >Jackets</button>
                                <button ngbDropdownItem>Gloves</button>
                                <button ngbDropdownItem>Seats</button>
                                <button ngbDropdownItem>Tires</button>
                                <button ngbDropdownItem>Brakes</button>
                                <button ngbDropdownItem (click)="sortCateg('hl')">Headlights</button>
                                <button ngbDropdownItem>Cleaner</button>
                              </div>
                            </div>
                          </div>

                    <div class="pb-1">
                    <p style="font-weight: bold;">Sort Products by Brand</p>
                    <hr>
                    </div>

                    <div class="col-sm-12 form-check">
                        <div class="checkbox">
                          <label>
                              <input type="radio" name="brand" value="sealight" (click)="sortBrand('all')" [checked]="radioCheck">
                              <span class="cr"><i class="cr-icon fa fa-check" ></i></span>
                              All
                          </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="radio" name="brand" value="sealight" (click)="sortBrand('sealight')" [checked]="radioCheck2">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                Sealight
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="radio" name="brand" value="evo" (click)="sortBrand('evo')" [checked]="radioCheck3">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                Evo
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="radio" name="brand" value="n1" (click)="sortBrand('n1')" [checked]="radioCheck4">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                Nitro
                            </label>
                        </div>
                    </div>

                    <div class="pb-1">
                        <p style="font-weight: bold;">Sort Products by Rating</p>
                        <hr>
                        </div>

                    <div class="col-sm-12">

                       <div class="rating">
                        <ngb-rating [max]="5" [readonly]="true" [(rate)]="ratingFive"></ngb-rating>
                         <pre><a class="button" (click)="sortRate(5)"><b>{{ratingFive}} Stars</b></a></pre>
                        </div>
                        <div class="rating">
                            <ngb-rating [max]="5" [readonly]="true" [(rate)]="ratingFour"></ngb-rating>
                            <pre><a class="button" (click)="sortRate(4)"><b>{{ratingFour}} Stars</b></a></pre>
                        </div>
                        <div class="rating">
                            <ngb-rating [max]="5" [readonly]="true" [(rate)]="ratingThree"></ngb-rating>
                            <pre><a class="button" (click)="sortRate(3)"><b>{{ratingThree}} Stars</b></a></pre>
                        </div>
                        <div class="rating">
                            <ngb-rating [max]="5" [readonly]="true" [(rate)]="ratingTwo"></ngb-rating>
                            <pre><a class="button" (click)="sortRate(2)"><b>{{ratingTwo}} Stars</b></a></pre>
                        </div>
                        <div class="rating">
                            <ngb-rating [max]="5" [readonly]="true" [(rate)]="ratingOne"></ngb-rating>
                            <pre><a class="button" (click)="sortRate(1)"><b>{{ratingOne}} Stars</b></a></pre>
                        </div>
                    </div>





                </div>

                      <!--  sidefilter-->


                        <!-- <app-sidefilter></app-sidefilter> -->
                    </div>

                    <!-- right -->
                    <div class="col-md-12 col-lg-10 col-sm-7 mx-auto mt-lg-0 mt-md-5 mb-5">
                             <!-- For demo purpose -->
                             <div class="row py-5">
                              <div class="col-lg-12 mx-auto">
                                <div class="text-white p-5 shadow-sm rounded banner">
                                      <div class="row">
                                            <div class="col">
                                                <h1 class="display-4">GearUp</h1>
                                                <p class="lead">Providing PH Riders Quality Gears and Parts Since 2021</p>
                                            </div>
                                            <div class="col">
                                              <div style="text-align: right;">
                                                <p class="lead">Contact us through<a href="https://bootstrapious.com/snippets" class="text-reset">
                                                  gearupinc@gmail.com</a><br>
                                                  Gears and Equipment Brought to you by <a href="#" class="text-reset">GearUp PH</a>.
                                                </p>
                                              </div>
                                            </div>
                                      </div>
                                     <!--Search-->
                                    <div class="input-group mb-3 mt-1">
                                      <input type="text" class="form-control searchbarclass" placeholder="Search..." aria-label="Search Bar" aria-describedby="basic-addon2">
                                      <div class="input-group-append">
                                        <span class="input-group-text bg-dark text-light" id="basic-addon2">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                          </svg>
                                        </span>
                                      </div>
                                    </div>
                                  <!--End Search-->

                                </div>
                              </div>
                            </div>
                            <!-- End -->

                        <!--right card-->
                        <div class="card p-4  item_list shadow">
                          <div class="container-fluid">
                            <div class="px-lg-5">



                              <div class="row row-cols-6 mx-auto justify-content-center">
                                <!-- Gallery item -->

                                        <div *ngFor="let prod of products" class="card mr-3 mb-3">
                                            <img class="img card-img-top embed-responsive-item" src={{prod.product_img}} alt="Card image cap">
                                            <div class="card-body">
                                              <a (click)="open(content)" class="btn stretched-link"></a>
                                                <h5 class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{prod.product_name}}</h5>
                                                <p class="card-text" style="color: orange;"><span>&#8369;</span>{{prod.price}}</p>
                                            </div>
                                            <!--Modal for adding products-->
                          <ng-template #content let-c="close" let-d="dismiss">
                            <div class="modal-header">
                              <h4 class="modal-title" id="modal-basic-title">Add to cart</h4>

                              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <!--Adding of products starts here-->
                                    <div class="form-group">
                                      <img class="img card-img-top embed-responsive-item" src={{prod.product_img}} alt="Card image cap">
                                      <h5 class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{prod.product_name}}</h5>
                                      <ngb-rating [max]="5" [readonly]="true" [(rate)]="prod.rating"></ngb-rating>
                                      <p class="card-text" style="color: orange;"><span>&#8369;</span>{{prod.price}}</p>

                                  </div>

                              <!--adding of product ends here-->
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-dark" (click)="addWish(prod)" (click)="d('Cross click')"><i class="bi bi-plus-circle"></i> Add to wishlist</button>
                              <button  type="button" class="btn btn-warning" (click)="addToCart(prod)" (click)="d('Cross click')"><i class="bi bi-cart" ></i> Add to cart</button>
                            </div>
                          </ng-template>
                          <!--Modal for adding products ends here-->
                                      </div>

                              </div><!-- End -->

                              <div class="py-5 text-center"><a href="#" class="btn btn-dark px-5 py-3 text-uppercase">Show me more</a></div>
                            </div>
                          </div>
                        </div>
                    </div><!--end of right card-->



                </div>
            </div>
        </div>
    </div>
    </main>

  <app-footer></app-footer>
