<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<main>

<app-navbar></app-navbar>

<div class="container">
  <!--Helmets-->
    <h3 class="fw-bolder pb-3">{{category_title}}</h3>
    <div class="row row-cols-6">
              <div *ngFor="let prod of products" class="card mr-3 mb-3">
                  <img class="img card-img-top embed-responsive-item" src={{prod.product_img}} alt="Card image cap">
                  <div class="card-body">
                    <a href="#" class="btn stretched-link"></a>
                    <h5 class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{prod.product_name}}</h5>
                    <p class="card-text" style="color: orange;"><span>&#8369;</span>{{prod.price}}</p>
                  </div>
              </div>



    </div>
    <!--End of Helmets-->


</div><!--end of container-->

