
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<main>
<app-admin-nav></app-admin-nav>

<div class="container">
  <button type="button" class="btn btn-outline-dark my-5" (click)="open(content)">Add product</button>
  <h3>Products</h3>
  <!--Modal for adding products-->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add a product</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!--Adding of products starts here-->
            <div class="form-group">
              <label for="exampleFormControlFile1">Example file input</label>
              <img [src]="imgSrc" style="width: 128px; margin-left: 16px;" alt="Product image">
              <input (change)="onUploadHandler($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="img" type="file" class="mb-3 form-control-file" id="exampleFormControlFile1">
                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="brand" class="form-control mb-3 form-control-sm">
                    <option *ngFor="let brand of brands" value={{brand.brand_id}}>{{brand.brand}}</option>
                </select>
                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="type" class="form-control mb-3 form-control-sm">
                    <option *ngFor="let type of types" value={{type.category_id}}>{{type.category}}</option>
                </select>
              <input [ngModelOptions]="{standalone: true}" [(ngModel)]="pname" class="form-control mb-3 form-control-sm" type="text" placeholder="product name">
              <input [ngModelOptions]="{standalone: true}" [(ngModel)]="pdesc" class="form-control mb-3 form-control-sm" type="text" placeholder="product description">
              <input [ngModelOptions]="{standalone: true}" [(ngModel)]="price" class="form-control mb-3 form-control-sm" type="number" placeholder="price">
              <input [ngModelOptions]="{standalone: true}" [(ngModel)]="quantity" class="form-control mb-3 form-control-sm" type="number" placeholder="quantity">
          </div>

      <!--adding of product ends here-->
    </div>
    <div class="modal-footer">
      <button (click)="upload()" type="button" class="btn mb-3 btn-primary">Add product</button>
    </div>
  </ng-template>
  <!--Modal for adding products ends here-->

  <!--Product table starts here-->
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Product Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prod of products">

      <td>{{ prod.product_id }}</td>
      <td>
        <img src={{prod.product_img}} class="mr-2" style="width: 20px">

      </td>
      <td>{{ prod.product_name }}</td>
      <td>{{ prod.product_desc }}</td>
      <td>{{ prod.price }}</td>

    </tr>
    </tbody>
  </table>
  <!--Producr table ends here-->





</div><!--End of Container-->
