
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<main>
<app-admin-nav></app-admin-nav>

<div class="container">
  <button type="button" class="btn btn-outline-dark my-5" (click)="open(content)">Add product</button>
  <h3>Products</h3>
  <!--Modal for adding products-->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add a product</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!--Adding of products starts here-->
      <div class="card py-4 mb-3 text-center">
        <img class="rounded mx-auto d-block" [src]="imgSrc" style="width: 128px;" alt="Product image">
        <div class="card-body">
          <div class="form-group">
            <label lass="form-control-label text-muted">Product Image</label>
          <input (change)="onUploadHandler($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="img" type="file" class="mb-3 form-control py-2 mx-auto d-block" style="height: 50px;" id="exampleFormControlFile1">
        </div>
        </div>
      </div>

      
            <div class="form-group">      
              <div class="form-group">
                <button type="button" (click)="openAddBrand(branding)" class="btn btn-outline-secondary py-0 px-0 mr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                </svg>
                </button>
                <label class="form-control-label text-muted">Product Brand
                </label>     
                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="brand" class="form-control mb-3 form-control-sm">
                    <option *ngFor="let brand of brands" value={{brand.brand_id}}>{{brand.brand}}</option>
                </select>
                </div>
                <div class="form-group">
                  <button type="button" (click)="openPtype(ptype)" class="btn btn-outline-secondary py-0 px-0 mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                  </svg>
                  </button>
                  <label class="form-control-label text-muted">Product Type</label>
                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="type" class="form-control mb-3 form-control-sm">
                    <option *ngFor="let type of types" value={{type.category_id}}>{{type.category}}</option>
                </select>
                </div>
              
              <input [ngModelOptions]="{standalone: true}" [(ngModel)]="pname" class="form-control mb-3 form-control-sm" type="text" placeholder="Product Name">
              <input [ngModelOptions]="{standalone: true}" [(ngModel)]="pdesc" class="form-control mb-3 form-control-sm" type="text" placeholder="Product Description">
              <input [ngModelOptions]="{standalone: true}" [(ngModel)]="price" class="form-control mb-3 form-control-sm" type="number" placeholder="Price">
              <input [ngModelOptions]="{standalone: true}" [(ngModel)]="quantity" class="form-control mb-3 form-control-sm" type="number" placeholder="Quantity">
          </div>

      <!--adding of product ends here-->
    </div>
    <div class="modal-footer">
      <button (click)="upload()" type="button" class="btn mb-3 btn-primary">Add product</button>
    </div>
  </ng-template>
  <!--Modal for adding products ends here-->

  <!--Modal for adding Brand-->
  <ng-template #branding let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add a product</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!--Adding of brand starts here-->
                <div class="form-group">
                  <label class="form-control-label text-muted">Add a brand name</label>
                  <input [ngModelOptions]="{standalone: true}" [(ngModel)]="brandname" class="form-control mb-3 form-control-sm" type="text" placeholder="Brand Name">
               </div>
      <!--adding of brand ends here-->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn mb-3 btn-outline-dark" (click)="d('Cross click')">Cancel</button>
      <button type="button" (click)="UploadBrand()" class="btn mb-3 btn-primary">Add Brand</button>
    </div>
  </ng-template>
  <!--Modal for adding Brand ends here-->

    <!--Modal for adding Product type-->
    <ng-template #ptype let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Product type</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Adding of brand starts here-->
                  <div class="form-group">
                    <label class="form-control-label text-muted">Add product type</label>
                    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="prodcategory" class="form-control mb-3 form-control-sm" type="text" placeholder="Product type">
                 </div>
        <!--adding of product type ends here-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn mb-3 btn-outline-dark" (click)="d('Cross click')">Cancel</button>
        <button type="button" (click)="UploadCategory()" class="btn mb-3 btn-primary">Add Brand</button>
      </div>
    </ng-template>
    <!--Modal for adding Brand ends here-->

  <!--Product table starts here-->
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Product Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prod of products">

      <td>{{ prod.product_id }}</td>
      <td>
        <img src={{prod.product_img}} class="mr-2" style="width: 20px">

      </td>
      <td>{{ prod.product_name }}</td>
      <td>{{ prod.product_desc }}</td>
      <td>{{ prod.price }}</td>

    </tr>
    </tbody>
  </table>
  <!--Producr table ends here-->





</div><!--End of Container-->
