<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<main>
<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-11 mx-auto">
            <div class="row mt-5 gx-3">
                <!----left side div-->
                <div class="col-md-12 col-lg-8 col-11 mx-auto main_cart mb-lg-0 mb-5">
                    <div class="card p-4 item_list">
                        <h1 class="py-2 font-weight-bold">
                            Cart
                        </h1>

                        <div class="card item_container shadow">
                            <ul class="list-group list-group-flush" >
                                <li class="list-group-item row p-2" *ngFor="let prod of cart">
                                    <div class="row mt-4">
                                        <!-- thumbnail -->
                                        <div class="col-md-2 col-6 mx-auto bg-white
                                        d-flex justify-content-center align-items-center product_img">
                                            <img src={{prod.product_img}} alt="item" class="img-fluid">
                                        </div>
                                        <!-- cart product details -->
                                        <div class="col-md-10 col-12 mx-auto px-4 mt-2">
                                            <div class="row">
                                                <!-- item name -->
                                                <div class="col-6">
                                                    <h4 class="product_name">{{prod.product_name}}</h4>
                                                    <p>{{prod.product_desc}}</p>
                                                </div>
                                                <!-- quantity -->
                                                <div class="col-6">
                                                    <ul class="pagination d-flex justify-content-end set_quantity">
                                                        <li class="page-item">
                                                            <button class="page-link" (click)="decrementqty(prod)"><i class="fas fa-minus" style="color: #E71D36;"></i></button>
                                                        </li>
                                                        <li class="page-item">
                                                            <input readonly type="text" name class="page-link quantity" href="#" value="{{prod.qty}}"
                                                             style="color: #011627;">
                                                        </li>
                                                        <li class="page-item">
                                                            <button  class="page-link" (click)="incrementqty(prod)"><i class="fas fa-plus" style="color: #E71D36;"></i></button>
                                                        </li>
                                                    </ul>
                                                </div>  
                                            </div>
                                            <!-- remove, move & price -->
                                            <div class="row">
                                                <div class="col-8 d-flex justify-content-between remove_move">
                                                    <p (click)='removeItem(prod.cart_id)' class="btn"><i class="fas fa-trash-alt "></i>REMOVE</p>
                                                    <p class="btn"><i class="fas fa-heart "></i> TO WISHLIST</p>
                                                </div>
                                                <div class="col-4 d-flex justify-content-end item_price">
                                                    <h3>₱<span id="productprice">{{prod.price}}</span></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                              </ul>
                        </div>
                    </div>
                </div>

                <!-- right side div -->
                <div class="col-md-12 col-lg-4 col-11 mx-auto mt-lg-0 mt-md-5">
                    <div class="right_side p-3" style="background-color: #f6f6f6; border-radius: 3px;">
                        <h5 class="order_summary mb-5">Location</h5>
                        <div class="location_div d-flex justify-content-between">
                            <p><i class="fas fa-map-marker-alt"></i> Customer's Location</p>
                        </div>
                        <hr>
                        <h4 class="order_summary mb-5">Order Summary</h4>
                        <div class="price_div d-flex justify-content-between">
                            <p>Subtotal</p>
                            <p>₱<span id="subtotal">0.00</span></p>
                        </div>
                        <div class="price_div d-flex justify-content-between">
                            <p>Shipping Fee</p>
                            <p>₱<span id="shippingfee">0.00</span></p>
                        </div>
                        <hr>
                        <div class="totalamt_div d-flex justify-content-between font-weight-bold">
                            <p>Total</p>
                            <p>₱<span id="totalamt">{{total}}.00</span></p>
                        </div>
                        <div class="checkoutbtn_div">
                            <button type="button" class="btn btn-sm btn-block checkout_btn" routerLink="/user/checkout">Proceed to Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
</main>
