<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<main>
    <app-navbar></app-navbar>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-11 mx-auto">
                <div class="row mt-5 gx-3">
                    <!----left side div-->
                    <div class="col-md-12 col-lg-2 col-sm-5 mx-auto left_div mb-lg-0 mb-5">
                        <div class="p-4">
                            <a href="#" class="nav_head"><h6 class="mt-3 font-weight-bold">My Account</h6></a>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                  <a class="nav-link py-0" href="#">Profile</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link py-0" href="#">Address Book</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link py-0" href="#">Change Password</a>
                                </li>
                            </ul>
                            <a href="#" class="nav_head"><h6 class="mt-3 font-weight-bold">My Orders</h6></a>
                            <a href="#" class="nav_head"><h6 class="mt-3 font-weight-bold">My Wishlist</h6></a>
                        </div>
                    </div>

                    <!-- right -->
                    <div class="col-md-12 col-lg-10 col-sm-7 mx-auto mt-lg-0 mt-md-5">
                        <div class="title">
                            <h4>My Wishlist</h4>
                        </div>
                        <div class="p-2 mt-5 shadow bg-white">
                            <button type="button" class="btn btn-light add_all">ADD ALL TO CART</button>
                        </div>
                        <div class="card p-4 mt-4 item_list shadow">
                            <div class="item_container">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item row p-4">
                                        <div class="row">
                                            <!-- thumbnail -->
                                            <div class="col-md-2 col-6 mx-auto bg-white
                                            d-flex justify-content-center align-items-center product_img">
                                                <img src="assets/silentbaffle.jpg" alt="item" style="width: 100px;">
                                            </div>
                                            <!-- cart product details -->
                                            <div class="col-md-10 col-12 mx-auto px-4 align-items-start">
                                                <div class="row">
                                                    <!-- item name -->
                                                    <div class="col-lg-4 col-sm-10">
                                                        <h4 class="product_name">Product name here</h4>
                                                        <p>Product description here</p>
                                                        
                                                    </div>
                                                    <!-- item price -->
                                                    <div class="col-lg-4 col-sm-10 d-flex align-items-start justify-content-center">
                                                        <h5>Product price</h5>
                                                    </div>
                                                    <!-- add to cart & remove buttons -->
                                                    <div class="col-lg-4 col-sm-10 d-flex align-items-start justify-content-end">
                                                        <button type="button" class="atc_btn px-4 py-2 mr-2"><i class="fas fa-cart-plus"></i></button>
                                                        <button type="button" class="remove_btn px-4 py-2"><i class="fas fa-trash"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item row p-4">
                                        <div class="row">
                                            <!-- thumbnail -->
                                            <div class="col-md-2 col-6 mx-auto bg-white
                                            d-flex justify-content-center align-items-center product_img">
                                                <img src="assets/silentbaffle.jpg" alt="item" style="width: 100px;">
                                            </div>
                                            <!-- cart product details -->
                                            <div class="col-md-10 col-12 mx-auto px-4 align-items-start">
                                                <div class="row">
                                                    <!-- item name -->
                                                    <div class="col-lg-4 col-sm-10">
                                                        <h4 class="product_name">Silent Baffle</h4>
                                                        <p>Desc: Φ28.6</p>
                                                        
                                                    </div>
                                                    <!-- item price -->
                                                    <div class="col-lg-4 col-sm-10 d-flex align-items-start justify-content-center">
                                                        <h5>350.00</h5>
                                                    </div>
                                                    <!-- add to cart & remove buttons -->
                                                    <div class="col-lg-4 col-sm-10 d-flex align-items-start justify-content-end">
                                                        <button type="button" class="atc_btn px-4 py-2 mr-2"><i class="fas fa-cart-plus"></i></button>
                                                        <button type="button" class="remove_btn px-4 py-2"><i class="fas fa-trash"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                  </ul>
                            </div>
                        </div>
                    </div>
    
                
                    
                </div>
            </div>
        </div>
    </div>
    </main>
    
