.jumbotron{
    font-family: 'Bebas Neue';
}

h1{
    font-size: 80px;
}

.landing{
    text-align: right;
}

.cardcontainer{
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-container>h1{
    font-size: 50px;
    font-family: 'Bebas Neue';
}

.popcontainer{
    
}



.new-products{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos{
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-image:linear-gradient( rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.5) ),url("/assets/22.jpg");
    padding:0px;
}

.logos>h1{
    font-family: 'Bebas Neue';
    color: white;
    font-size: 50px;
}


.logoimg{
    padding-top:10px;
    width: 300px;
    padding:0px;
}


.logolbc{
    width: 100px;
    padding:0;
}

.slidertext{
   font-size: 20px;
}

.slidertext>h1{
    font-family: 'Bebas Neue';
}

.tryrow{
    width: 100%;
}
.sliderimg{

}


.ad{
    height: 40vh;
    background-size: cover;
    width: 100%;
    background-image:url("/assets/banner.gif");
}

.inner-container{
    align-self: center;
}

