<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<app-navbar></app-navbar>
<app-jumbotron></app-jumbotron>

    <div class="container cardcontainer" id="trying">
      <div class="inner-container">
      <h1>POPULAR PRODUCTS</h1>
      <p style="font-size: 20px;">Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
      <div class="card p-4 popcontainer shadow">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs p-4 justify-content-center">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Helmets</a>
          <ng-template ngbNavContent>
            <!--Helmets-->
            <div class="row row-cols-5 justify-content-center">
                      <div *ngFor="let hel of helmet" class="card mr-3 mb-3 shadow-sm">
                          <img class="img card-img-top embed-responsive-item" src={{hel.product_img}} alt="Card image cap">
                          <div class="card-body">
                            <a (click)="open(content)" class="btn stretched-link"></a>
                            <h5 class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{hel.product_name}}</h5>
                            <p class="card-text" style="color: orange;"><span>&#8369;</span>{{hel.price}}</p>
                          </div>
                          <!--Modal for adding products-->
                          <ng-template #content let-c="close" let-d="dismiss">
                            <div class="modal-header">
                              <h4 class="modal-title" id="modal-basic-title">Add to cart</h4>

                              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <!--Adding of products starts here-->
                                    <div class="form-group">
                                      <img class="img card-img-top embed-responsive-item" src={{hel.product_img}} alt="Card image cap">
                                      <h5 class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{hel.product_name}}</h5>
                                      <ngb-rating [max]="5" [readonly]="true" [(rate)]="ratingFive"></ngb-rating>
                                      <p class="card-text" style="color: orange;"><span>&#8369;</span>{{hel.price}}</p>

                                  </div>

                              <!--adding of product ends here-->
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-dark"><i class="bi bi-plus-circle"></i> Add to wishlist</button>
                              <button  type="button" class="btn btn-warning" (click)="addToCart(hel)" (click)="d('Cross click')"><i class="bi bi-cart" ></i> {{addCartBtn}}</button>
                            </div>
                          </ng-template>
                          <!--Modal for adding products ends here-->
                      </div>

            </div>
            <!--End of Helmets-->
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Headlights</a>
          <ng-template ngbNavContent>
            <!--Headlights-->
                <div class="row row-cols-5 justify-content-center">
                        <div *ngFor="let hl of headlight" class="card mr-3 mb-3 shadow-sm">
                            <img class="img card-img-top embed-responsive-item" src={{hl.product_img}} alt="Card image cap">
                            <div class="card-body">
                              <a (click)="open(headlight)" class="btn stretched-link"></a>
                            <h5 class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{hl.product_name}}</h5>
                            <p class="card-text" style="color: orange;"><span>&#8369;</span>{{hl.price}}</p>

                                    <!--Modal for adding products-->
                          <ng-template #headlight let-c="close" let-d="dismiss">
                            <div class="modal-header">
                              <h4 class="modal-title" id="modal-basic-title">Add to cart</h4>

                              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <!--Adding of products starts here-->
                                    <div class="form-group">
                                      <img class="img card-img-top embed-responsive-item" src={{hl.product_img}} alt="Card image cap">
                                      <h5 class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{hl.product_name}}</h5>
                                      <ngb-rating [max]="5" [readonly]="true" [(rate)]="ratingFive"></ngb-rating>
                                      <p class="card-text" style="color: orange;"><span>&#8369;</span>{{hl.price}}</p>

                                  </div>

                              <!--adding of product ends here-->
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-dark"><i class="bi bi-plus-circle"></i> Add to wishlist</button>
                              <button  type="button" class="btn btn-warning" (click)="addToCart(hl)"><i class="bi bi-cart" (click)="d('Cross click')"></i> {{addCartBtn}}</button>
                            </div>
                          </ng-template>
                          <!--Modal for adding products ends here-->
                          </div>
                  </div>
                  <div  class="d-flex flex-column min-vh-50 justify-content-center align-items-center">

                </div>
                </div>
            <!--End of headlights-->
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>Brakes</a>
          <ng-template ngbNavContent>
            <p>No products to show.</p>
          </ng-template>
        </li>

        <li [ngbNavItem]="4">
          <a ngbNavLink>Jackets</a>
          <ng-template ngbNavContent>
            <p>No products to show.</p>
          </ng-template>
        </li>

        <li [ngbNavItem]="5">
          <a ngbNavLink>Seats</a>
          <ng-template ngbNavContent>
            <p>No products to show.</p>
          </ng-template>
        </li>
      </ul>


      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      <p>
        <button class="btn btn-outline-dark" routerLink="/public/products">See more!</button>
      </p>
    </div>
  </div>
    </div>

    <!--end of container-->



    <!--ad here-->
      <div class="ad" style="cursor: pointer;" routerLink="/public/products"></div>
    <!--ad-->


    <!--New products-->
    <div class="card p-lg-4 mx-5 my-5 shadow">
              <div class="new-products">
                <!--<img src="/assets/hottest1.png" class="rounded mx-auto d-block" alt="...">-->
                <ngb-carousel *ngIf="images" class="tryrow">
                  <ng-template ngbSlide>
                        <div class="row">
                            <div class="col-4 p-4 mx-auto sliderimg">
                                <img [src]="images[0]" alt="Random first slide" style="height: 500px; width: auto;">
                            </div>

                            <div class="slidertext col-6 pt-4 pl-4">
                                <h1>Icon Airflite Helmet</h1>
                                <p>All around aggression distilled into a helmet that is potable for multiple rider types.</p>
                                <ngb-rating [max]="5" [readonly]="true" [(rate)]="ratingFive"></ngb-rating>
                                <hr>
                                <pre>Rate: <b>{{ratingFive}}</b></pre>
                                <p><span>&#8369;</span>13,780</p>
                                <button type="button" class="btn btn-outline-primary mr-2"><i class="bi bi-cart"></i> Add to cart!</button>
                                <button type="button" class="btn btn-outline-warning"><i class="bi bi-plus-circle"></i> Add to wishlist</button>

                            </div>
                          </div>
                  </ng-template>

                  <ng-template ngbSlide>
                    <div class="row">
                        <div class="col-4 p-4 mx-auto sliderimg">
                            <img [src]="images[1]" alt="Random first slide" style="height: 500px; width: auto;">
                        </div>

                        <div class="slidertext col-6 pt-4 pl-4">
                            <h1>Bell Qualifier Helmet</h1>
                            <p>Sleek, stylish look and reliable Bell build quality. The Qualifier is a no-frills helmet that looks good and performs like it should, every time.</p>
                            <ngb-rating [max]="5" [readonly]="true" [(rate)]="ratingFive"></ngb-rating>
                            <hr>
                            <pre>Rate: <b>{{ratingFive}}</b></pre>
                            <p><span>&#8369;</span>6,700</p>
                            <button type="button" class="btn btn-outline-primary mr-2"><i class="bi bi-cart"></i> Add to cart!</button>
                            <button type="button" class="btn btn-outline-warning"><i class="bi bi-plus-circle"></i> Add to wishlist</button>
                        </div>
                      </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="row">
                    <div class="col-4 p-4 mx-auto sliderimg">
                        <img [src]="images[2]" alt="Random first slide" style="height: 500px; width: auto;">
                    </div>

                    <div class="slidertext col-6 pt-4 pl-4">
                        <h1>Biltwell Lane Splitter Helmet</h1>
                        <p>The Biltwell Lane Splitter contains all the style that you want without the costly gimmicks that weighs down your head and lightens your wallet.</p>
                        <ngb-rating [max]="5" [readonly]="true" [(rate)]="ratingFive"></ngb-rating>
                        <hr>
                        <pre>Rate: <b>{{ratingFive}}</b></pre>
                        <p><span>&#8369;</span>10,899</p>
                        <button type="button" class="btn btn-outline-primary mr-2"><i class="bi bi-cart"></i> Add to cart!</button>
                        <button type="button" class="btn btn-outline-warning"><i class="bi bi-plus-circle"></i> Add to wishlist</button>
                    </div>
                  </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="row">
                <div class="col-4 p-4 mx-auto sliderimg" style="cursor:pointer;">
                    <img [src]="images[3]" alt="Random first slide" style="height: 500px; width: auto;">
                </div>

                <div class="slidertext col-6 pt-4 pl-4">
                    <h1>Simpson Ghost Bandit Helmet</h1>
                    <p>If hell-bent apocalyptic wild-west outlaws from the future raced dirt bike choppers in the wastelands, they would most likely do it in a Simpson. </p>
                    <ngb-rating [max]="5" [readonly]="true" [(rate)]="ratingFive"></ngb-rating>
                    <hr>
                    <pre>Rate: <b>{{ratingFive}}</b></pre>
                    <p><span>&#8369;</span>19,599</p>

                    <button type="button" class="btn btn-outline-primary mr-2"><i class="bi bi-cart"></i> Add to cart!</button>
                    <button type="button" class="btn btn-outline-warning"><i class="bi bi-plus-circle"></i> Add to wishlist</button>
                </div>
              </div>
      </ng-template>

                </ngb-carousel>
              </div>
    </div><!--end of card-->
    <!--New products ends here-->

    <!--logos here-->
    <div class="logos">
      <h1 class="pt-4" >Delivery partners</h1>
      <div class="row align-items-center pb-4 w-100">
        <div class="col px-0">
          <img class="logolbc" src="/assets/logistics/lbc.png"  alt="...">
        </div>
        <div class="col px-0">
          <img class="logoimg" src="/assets/logistics/jnt.png"  alt="...">
        </div>
        <div class="col px-0">
          <img class="logoimg" src="/assets/logistics/nv.png"  alt="...">
        </div>
        </div>
      </div>
    <!--End logos-->

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="dateOfBirth">Password</label>
            <div class="input-group">
              <input id="password" class="form-control" >

            </div>
            <label for="dateOfBirth">Confirm Password</label>
            <div class="input-group">
              <input id="password" class="form-control" >

            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      </div>
    </ng-template>

<app-footer></app-footer>
