.jumbotron{
    font-family: 'Bebas Neue';

}

h1{
    font-size: 80px;
}

.landing{
    text-align: right;
}

.cardcontainer{
    padding-top: 50px;
    text-align: center;
}

.cardcontainer>h1{
    font-size: 50px;
    font-family: 'Bebas Neue';
}