<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<main>

<app-navbar></app-navbar>

    <div class="jumbotron" style="background-color: #FDFFFC;">
      <div class="container">
        <div class="d-flex flex-row justify-content-between my-flex-container">
          <div class="p-2 my-flex-item">
            <img src="assets/logo2.png" alt="...">
          </div>

          <div class="p-2 my-flex-item">
            <div class="landing" style="margin-top: 50%;">
              <h1>Gear up with us!</h1>
              <button type="button" class="btn px-5 btn-outline-danger" style="font-size: 30px;">Get Started</button>
            </div>
          </div>

      </div>
      </div>
    </div>


    <div class="container">
      <!--Helmets-->
        <h3 class="fw-bolder pb-3">Helmets</h3>
        <div class="row row-cols-6">
                  <div *ngFor="let hel of helmet" class="card mr-3 mb-3">
                      <img class="img card-img-top embed-responsive-item" src={{hel.product_img}} alt="Card image cap">
                      <div class="card-body">
                        <a href="#" class="btn stretched-link"></a>
                        <h5 class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{hel.product_name}}</h5>
                        <p class="card-text" style="color: orange;"><span>&#8369;</span>{{hel.price}}</p>
                      </div>
                  </div>

                  <div  class="d-flex flex-column min-vh-50 justify-content-center align-items-center ">

                      <a class="btn">
                        <h5 class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" (click)="seeMore(1)">See more</h5>
                      </a>

                  </div>

        </div>
        <!--End of Helmets-->

        <!--Headlights-->
        <h3 class="fw-bolder pb-3">Headlights</h3>
          <div class="row row-cols-5">
                  <div *ngFor="let hl of headlight" class="card mr-3 mb-3">
                      <img class="img card-img-top embed-responsive-item" src={{hl.product_img}} alt="Card image cap">
                      <div class="card-body">
                      <a href="#" class="btn stretched-link"></a>
                      <h5 class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{hl.product_name}}</h5>
                      <p class="card-text" style="color: orange;"><span>&#8369;</span>{{hl.price}}</p>
                    </div>

            </div>
            <div  class="d-flex flex-column min-vh-50 justify-content-center align-items-center ">

              <a class="btn">
                <h5 class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" (click)="seeMore(2)">See more</h5>
              </a>

          </div>
          </div>
        <!--End of headlights-->
    </div>
    <!--end of container-->


</main>
